@font-face {
    font-family: 'openSansRegular';
    src: url('OpenSans-Regular.ttf')  format('truetype');
}

body {	
	background: #F5F1E7 url(../img/bg-sand.png) 0 0 repeat-x;
	font-family: openSansRegular;	
	margin: 0;
	padding: 0;
	color: #222;
}
header {
	height: 305px;
	text-align: center;
	padding-top: 32px;
	width: 780px;
}

h1:first-of-type {
    font-family: 'openSansRegular', sans-serif;
    font-size: 52px;
    letter-spacing: -2px;
    line-height: 100%;
    text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.75);
    color: rgb(72, 72, 72);
    font-weight: normal;    
}

h3 {
	font-size: 28px;
}
footer {
	height: 30px;
	width: 780px;
	padding: 10px;
	text-align: center;
}
input {
	width: 100%;
}
#wrapper {
	height: 600px;
	width: 780px;
}
#formulario {
	width: 780px;
	height: 150px;
	padding: 10px;
}

#botone{
	text-align: center;
}

.count_down {	
    font-size: 35px;    
    line-height: 100%;
    text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.75);
    color: rgb(72, 72, 72);
    font-weight: normal; 
	padding-left: 15px;
	
}

.count_down sup {
	 font-size: 15px;    
    line-height: 100%;
    text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.75);
    color: rgb(72, 72, 72);
    font-weight: normal; 
    
}

.tam{
	font-size: 60px;
}


.button, .button-white {
    cursor: pointer;
}

a, a:link, a:visited {
    display: inline-block;
    border-radius: 0.25em 0.25em 0.25em 0.25em;
    box-shadow: 0px 2px 0px 0px rgba(0, 0, 0, 0.1), 0px -2px 0px 0px rgba(0, 0, 0, 0.2) inset;
    background-color: rgb(39, 97, 149);
    background-repeat: repeat-x;
    background-image: -moz-linear-gradient(bottom, rgb(228,120,32) 5%, rgb(200,75,29) 95%);
    color: rgb(255, 255, 255);
    text-align: center;
    font-size: 14px;
    padding: 0px 20px;
    height: 40px;
    line-height: 40px;
    text-decoration: none;
    width: 300px;
    min-width: 300px;
    border: 0px none;
    text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.25);
    font-family: 'Open Sans',sans-serif;
    -moz-transition: all 0.25s linear 0s;
}
